<template name="home">
    <div id="page">
		<div id="logo">
            <a href="/"><img src='asset/images/queldebouche.png' style="width:117px"/></a>
		</div>
		<div id="nav">
			<a href="mailto:xxx">Contact</a>
		</div>

         <div id="content">
			<h1>Ton futur métier est-il porteur ? </h1>
			<h2>Découvre le taux de chômage de ton futur métier ou secteur !</h2>
         <div id="main"></div>
				{{> packageList}}
		</div>

		<div id="dataanpe">
            Ce site utilise uniquement les données Pôle Emploi
		</div>

        <div id="ulule-desktop">
			Aidez-nous à faire vivre et améliorer “Quel débouché”. Participez à la campagne Ulule.
		</div>

        <div id="ulule-mobile">
			Soutenez-nous sur ulule !
		</div>
	 </div>
</template>