<template name="packageList">
    <h1>Ton futur métier est-il porteur ? </h1>
	<h2>Découvre le taux de chômage de ton futur métier ou secteur !</h2>

    <div id="main">

    <form>
    <div id="barrerecherche">
        <input id="recherchermetier"
                type='text'
                placeholder='Rechercher un métier'
                class='flexdatalist search'
                data-min-length='1'
                data-data='findjob.json'
                data-search-in='metier'
                maxlength="50"
                size="50"
                onfocus="this.value = ''">
		    <button id="notification-trigger" class="progress-button bouton-rose">
			    <span class="content">Rechercher</span>
			    <span class="progress"></span>
		    </button>
	</div>
    </form>

    <div id="dataanpe">Ce site utilise uniquement les données Pôle Emploi</div>
    <script type="text/javascript">
        if( $.isFunction($.fn.flexdatalist) ){
           //console.log("flexdatalist est chargé");
                $('.flexdatalist').flexdatalist({
                    minLength: 2,
                    searchIn: 'metier',
                    data: "findjob.json",
                    valueProperty: "*"
                });
        }
     </script>
    </div>
</template>