<template name="job">
        <h1>Futur {{metiers.metier}} ?</h1>
        <h2><u>{{metiers.wordingRome}}</u> Tu as {{metiers.nbOffre}} postes disponibles pour {{metiers.nbDemande}} demandeurs</h2>

        <div id="secteur-boutons">
            <a id="shareBtn" href="#" class="bouton-blanc" onclick="shareBtn('{{metiers.texttoShare}}','{{metiers.facebookurl}}');">Partager sur Facebook</a>
            <a href="#" id="backHome" data-id="link" class="bouton-rose" onclick="shareBtn()">Chercher un autre métier</a>
        </div>
        <script>
         function shareBtn(texttoShare,facebookurl){
             console.log(texttoShare);
             console.log(facebookurl);
             document.getElementById('shareBtn').onclick = function(texttoShare,facebookurl) {
                 FB.ui({
                     display: 'popup',
                     method: 'share',
                     title: 'Ton futur métier est-il porteur ?',
                     description: texttoShare,
                     link: facebookurl,
                     href: 'www.queldebouche.fr',
                    }, function(response){});
                }
            }
        </script>
</template>