<template name="job">
    {{#if Template.subscriptionsReady}}
        {{#if metiers.erreur}}
            <h1>{{metiers.quote}}</h1>
        {{else}}
            <h1>Futur {{metiers.metier}} ?</h1>
            <h2>Avec {{metiers.nbDemande}} demandeurs pour {{metiers.nbOffre}} postes disponibles selon Pôle Emploi&#42; ce métier est <u>{{metiers.wordingRome}}</u></h2>

            <div id="secteur-boutons">
                <a id="shareBtn" href="#" class="bouton-blanc">Partager sur Facebook</a>
                <a href="#" id="backHome" data-id="link" class="bouton-rose">Chercher un autre métier</a>
            </div>
        {{/if}}
    {{else}}
     <div><img src='asset/images/ripple.svg'/></div>
    {{/if}}
  <div id="dataanpe">Ce site utilise uniquement les données Pôle Emploi</div>
</template>