/*****************
GLOBAL
*****************/
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Circular-Book;
	background: #4D00D3;
}

@font-face {
    font-family: Circular-Book;
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: Circular-Bold;
    src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
    font-family: Circular-Black;
    src: url(../fonts/CircularStd-Black.otf);
}

 #page{
 	width: 100%;
 	height: 100%;
 }

/*************************************
STYLE H
*************************************/
h1{
	font-size: 48px;
	text-align: center;
	margin: 0px 0px 5px;
	font-family: Circular-Black;
	-webkit-animation:apparitioncontentline 1;
	-moz-animation:apparitioncontentline 1;
	animation:apparitioncontentline 1;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 0;

}

h2{
	font-size: 18px;
	width:500px;
	margin:0 auto;
	text-align: center;
	padding: 5px 0px 30px;
	font-family: Circular-Book;
	-webkit-animation:apparitioncontentline 1;
	-moz-animation:apparitioncontentline 1;
	animation:apparitioncontentline 1;
	animation-delay: 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 0;
}

h3{
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px 0px 0px;

}

/*************************************
GLOBAL ANIMATION
*************************************/

@keyframes apparitioncontentline{
  from {
   opacity:0;

  }

  to {
   opacity: 1;
   margin-top: 0px;
  }
}

/*************************************
PAGE
*************************************/

#logo{
	position:fixed;
	left:60px;
	top:60px;
}

#nav{
	width:200px;
	position:fixed;
	top:60px;
	right:60px;
}

#nav a{
	color:#fff;
	float:right;
	text-decoration:none;
	padding-left:30px;
	display:block;
}

#nav a:hover{
	text-decoration:underline;
}

#content{
	text-align: center;
	color: #fff;
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* compatibilité : ie9+ */}


/**** BOUTONS GLOBALE *****/

.bouton-rose{
	padding: 20px 30px;
	border: none;
	background: #FF1559;
	color: #fff;
	font-size: 15px;
	display: block;
	border-radius: 2px;
	text-decoration: none;
}

.bouton-rose:hover{
	background: #2a5ce1;
}

.bouton-blanc{
	padding: 20px 30px;
	border: none;
	background: #fff;
	color: #000;
	font-size: 15px;
	border-radius: 3px;
	display: block;
	text-decoration: none;
}

.bouton-rose:hover{
	background: #e21b53;
}


/**** BARRE RECHERCHE *****/

#barrerecherche{
	width: 700px;
	margin: 0 auto;
	height:58px;
	box-shadow: 0 0 28px 0 rgba(0,0,0,0.20);
	-webkit-animation:apparitioncontentline 1;
  -moz-animation:apparitioncontentline 1;
  animation:apparitioncontentline 1;
  animation-delay: 2s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  opacity: 0;
}
.search{
  padding: 20px;
  font-size: 15px;
  border: none;
  width: 540px;
  font-size: 15px;
  margin: 0px;
  float: left;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
        color: darkgray;
}

.flexdatalist-results {
  position: absolute;
  top: 0;
  left: 0;
  border-top: none;
  background: #fff;
  z-index: 100000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}
.flexdatalist-results li {
  padding: 5px 15px;
  font-size: 14px;
  line-height: 35px;
	border:none;
}

.flexdatalist-results li:nth-child(odd){
	background:#F0F0F0;
	border:none;
}

.flexdatalist-results li span.highlight {
  font-weight: 700;
  text-decoration: underline;
}
.flexdatalist-results li.active {
  background: #fc1e5c;
  color: #fff;
  cursor: pointer;
}


.progress-button{
	position: relative;
	width: 160px;
	outline: none;
	z-index: 50;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	float: left;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;

}


/**** DATA ANPE *****/

#dataanpe{
    font-family: Circular-Book;
		padding-top:30px;
		font-size:14px;
		-webkit-animation:apparitioncontentline 1;
		-moz-animation:apparitioncontentline 1;
		animation:apparitioncontentline 1;
		animation-delay: 2.5s;
		-webkit-animation-fill-mode:forwards;
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;
		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		animation-duration:1s;
		opacity: 0;
}



/*************************************
BANDEAU ANPE
*************************************/

#ulule-mobile{
	display: none;
}

#ulule-desktop{
	height: 30px;
	width: 100%;
	background: #350093;
	text-align: center;
	color: #fff;
	padding-top: 10px;
	position: fixed;
	-webkit-animation:apparitionbandeauanpe 1;
	-moz-animation:apparitionbandeauanpe 1;
	animation:apparitionbandeauanpe 1;
	animation-delay: 3s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 1;
	bottom: -55px;
}

@keyframes apparitionbandeauanpe{
  from {
  	opacity: 1;
    bottom: -55px;
  }

  to {
  	opacity: 1;
    bottom: 0;
  }
}


/*************************************
RESULTATS
*************************************/

#secteur-boutons{
	width:400px;
	height: 130px;
	margin: 0 auto;
	-webkit-animation:apparitioncontentline 1;
  -moz-animation:apparitioncontentline 1;
  animation:apparitioncontentline 1;
  animation-delay: 2s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  opacity: 0;
}

#secteur-boutons a{
	margin-bottom:20px;
}

.fb-share-button {
    padding: 3px 3px;
	border: none;
	color: #000;
	font-size: 10px;
	border-radius: 2px;
	display: block;
	text-decoration: none;
    transform: scale(2.5);
    transform-origin: top;
}

.errormessage{
    color: #ea1717;
    margin-left: -306px;
    font-size: 20px;
}

/*************************************
VERSION MOBILE
*************************************/


@media screen and (max-width:600px) {

html,body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  font-family: Circular-book;
}

h1{
	font-size: 30px;
	margin-bottom: 10px;
}

h2{
	width:100%;
}

#content{
	text-align: center;
	width: 86%;
	min-height: 340px;

}

#logo{
	position:fixed;
	left:30px;
	top:30px;
}

#nav{
	display:none;
}

#barrerecherche{
	width: 100%;
	margin: 0 auto 20px;
	box-shadow: none;
	height:140px;
}

.search{
  padding: 20px 5%;
  width: 100%;
  font-size: 15px;
  margin: 0px 0px 20px;
  border: none;

}

.progress-button {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	width:100%;
}

#dataanpe{
	padding-top:20px;
	margin-top:20px;
}

/**** BANDEAU ULULE *****/

#ulule-desktop{
	display: none;

}

#ulule-mobile{
	height: 35px;
	width: 100%;
	background: #350093;
	text-align: center;
	color: #fff;
	padding-top: 20px;
	position: fixed;
	bottom: 0;
	font-size: 14px;
	display: block;

}


/**** POP IN *****/

#secteur-boutons{
	width:100%;
}

.errormessage {
    color: #ea1717;
    margin-left: -2px;
    font-size: 18px;
}
}