/*****************
GLOBAL
*****************/
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Circular;
	background: url(../images/hp-background.jpg) no-repeat center fixed #1a1f24;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */

	}

@font-face {
    font-family: Circular;
    src: url(../fonts/CircularStd-Book.otf);
    }

 #page{
 	width: 100%;
 	height: 100%;
 	position: relative;
 	transform-style: preserve-3d;
 }



/*************************************
STYLE H
*************************************/
h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-weight: normal;
	-webkit-animation:apparitioncontentline 1;
	-moz-animation:apparitioncontentline 1;
	animation:apparitioncontentline 1;
	animation-delay: 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 0;
}




h2{
	font-size: 17px;
	text-align: center;
	text-transform: uppercase;
	padding: 0px 0px 10px;
	font-weight: normal;
	-webkit-animation:apparitioncontentline 1;
	-moz-animation:apparitioncontentline 1;
	animation:apparitioncontentline 1;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 0;
}

h3{
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px 0px 0px;

}

/*************************************
GLOBAL ANIMATION
*************************************/

@keyframes apparitioncontentline{
  from {
   opacity:0;
   margin-top: 20px;
  }

  to {
   opacity: 1;
   margin-top: 0px;
  }
}



/*************************************
PAGE
*************************************/

#content{
	text-align: center;
	color: #fff;
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 280px;
	transform: translate(-50%, -50%); /* compatibilité : ie9+ */}

#contentinput{
	color: #000;
	text-align: left ;
}

#contentinputbtn{
	color: #000;
	text-align: left ;
}


/**** BOUTONS GLOBALE *****/

.bouton-bleu{
	padding: 20px 30px;
	border: none;
	background: #2f67fb;
	color: #fff;
	font-size: 15px;
	display: block;
	border-radius: 2px;
	text-decoration: none;
}

.bouton-bleu:hover{
	background: #2a5ce1;
}

.bouton-rose{
	padding: 20px 30px;
	border: none;
	background: #fc1e5c;
	color: #fff;
	font-size: 15px;
	border-radius: 2px;
	display: block;
	text-decoration: none;

}

.bouton-rose:hover{
	background: #e21b53;
}


/**** BARRE RECHERCHE *****/

#barrerecherche{
	width: 560px;
	margin: 0 auto;
}
.search {
  padding: 20px;
  font-size: 15px;
  border: none;
  width: 400px;
  font-size: 15px;
  margin: 0px;
  -webkit-animation:apparitioncontentline 1;
  -moz-animation:apparitioncontentline 1;
  animation:apparitioncontentline 1;
  animation-delay: 2s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  opacity: 0;
  float: left;
}



.progress-button {
	position: relative;
	width: 160px;
	outline: none;
	z-index: 50;
	-webkit-animation:apparitioncontentline 1;
	-moz-animation:apparitioncontentline 1;
	animation:apparitioncontentline 1;
	animation-delay: 2s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 0;
	float: left;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;

}

.progress-button .progress {
	position: absolute;
	left: 0;
	background: rgba(0,0,0,0.2);
	top: 0;
	width: 0%;
	opacity: 0;
	height: 100%;
	z-index: 0;
	-webkit-transition: width 0s 0.3s, opacity 0.3s;
	transition: width 0s 0.3s, opacity 0.3s;
}

.progress-button.active .progress {
	opacity: 1;
	width: 100%;
	-webkit-transition: width 1.2s;
	transition: width 1.2s;
}





/*************************************
BANDEAU ANPE
*************************************/

#anpebandeau-desktop{
	height: 35px;
	width: 100%;
	background: #8be3c0;
	text-align: center;
	color: #3c6655;
	padding-top: 10px;
	position: fixed;
	-webkit-animation:apparitionbandeauanpe 1;
	-moz-animation:apparitionbandeauanpe 1;
	animation:apparitionbandeauanpe 1;
	animation-delay: 3s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	opacity: 1;
	 bottom: -55px;


}

@keyframes apparitionbandeauanpe{
  from {
  	opacity: 1;
    bottom: -55px;

  }

  to {
  	opacity: 1;
    bottom: 0;
  }
}


#anpebandeau-mobile{
	display: none;
}


/*************************************
POP IN
*************************************/

.ns-box {
	position: fixed;
	width: 420px;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -300px;
	padding: 40px 20px;
	line-height: 1.4;
	z-index: 1000;
	pointer-events: none;
	border-radius: 0px;
	background: #fff;
	color: #000;
	text-align: center;

}


#secteur-data{
	color: #fc1e5c;
	font-size: 100px;
	font-weight: 700;
	margin: 0 auto;
	line-height: 170px;
}

#secteur-description{
	width: 400px;
	margin: 0 auto 20px;
}

.secteur-bouton{
	width: 300px;
	margin: 10px auto;
}


/*************************************
VERSION MOBILE
*************************************/


@media screen and (max-width:480px) {
h1{
	font-size: 30px;
	margin-bottom: 10px;
}

html,body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
    font-family: Circular;

	}


#content{
	text-align: center;
	width: 86%;
	min-height: 340px;

}


#barrerecherche{
	width: 100%;
	margin: 0 auto;
}

.search {
  padding: 20px 5%;
  width: 100%;
  font-size: 15px;
  margin: 0px 0px 20px;
  border: none;

}

.bouton-bleu{
	padding: 20px 30px;
	width: 100%;

}

.progress-button {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;

}


/**** BANDEAU ANPE *****/

#anpebandeau-desktop{
	display: none;

}

#anpebandeau-mobile{
	height: 35px;
	width: 100%;
	background: #8be3c0;
	text-align: center;
	color: #3c6655;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	font-size: 14px;
	display: block;

}


/**** POP IN *****/

h3{
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px 0px 0px;

}

.ns-box {
	width: 260px;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: -280px;
}

#secteur-data{
	color: #fc1e5c;
	font-size: 80px;
	font-weight: 700px;
	margin: 0 auto;
	line-height: 80px;
}

#secteur-description{
	width: 100%;
	margin: 0 auto 20px;
}

.secteur-bouton{
	width: 200px;
	margin: 10px auto;
}

.searchbtn{
   display: -webkit-flex;
   display: flex;
}

}